<footer class="footer-wrapper">
  <div class="container">
    <div class="footer" fxLayout="row" fxFlex fxLayoutAlign="space-between start" fxLayout.lt-sm="column">

      <div class="footer-column-wrapper" fxFlex="24"  fxFlex.lt-md="40" fxFlex.lt-sm="100">
        <div class="footer-column" fxFlex fxLayout="column">
          <div class="footer-column__info" fxFlex fxLayout="column" >
            <div class="column-info__item">
              <div class="item__logo">
                <img src="/assets/logo.png" alt="logo">
              </div>
            </div>
            <div class="column-info__item">
              <div class="item-copyright" fxLayout="column" fxLayoutAlign="space-between left">
                <p>Copyright 2019 by <span>RT</span>Cart</p>
                <p>All right reserved</p>
              </div>
            </div>
            <div class="column-info__item column-info__payments" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="payments-item"><img src="/assets/icons/pay-1.png" alt=""></div>
              <div class="payments-item"><img src="/assets/icons/pay-2.png" alt=""></div>
              <div class="payments-item"><img src="/assets/icons/pay-3.png" alt=""></div>
              <div class="payments-item"><img src="/assets/icons/pay-4.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-column-wrapper" fxFlex="70" fxFlex.lt-md="55" fxLayout.lt-md="column" fxFlex.lt-sm="100">
        <div class="footer-column" fxFlex="25" fxFlex.lt-md="100">
          <div class="footer-column__menu">
            <h2>Customer Service</h2>
            <div class="menu-wrapper" fxLayout="column" fxHide fxShow.gt-sm>
              <a class="menu-wrapper__item">Forgot password</a>
              <a class="menu-wrapper__item">Shipping rates</a>
              <a class="menu-wrapper__item">Return policy</a>
              <a class="menu-wrapper__item">About proposition 65</a>
              <a class="menu-wrapper__item">FAQs</a>
              <a class="menu-wrapper__item">Contact info</a>
            </div>
          </div>
        </div>
        <div class="footer-column" fxFlex="24" fxFlex.lt-md="100">
          <div class="footer-column__menu">
            <h2>Shopping</h2>
            <div class="menu-wrapper" fxLayout="column" fxHide fxShow.gt-sm>
              <a class="menu-wrapper__item">Womens</a>
              <a class="menu-wrapper__item">Mens</a>
              <a class="menu-wrapper__item">Kids</a>
              <a class="menu-wrapper__item">Brands</a>
              <a class="menu-wrapper__item">Mens</a>
              <a class="menu-wrapper__item">Kids</a>
            </div>
          </div>
        </div>
        <div class="footer-column" fxFlex="24" fxFlex.lt-md="100">
          <div class="footer-column__menu">
            <h2>My account</h2>
            <div class="menu-wrapper" fxLayout="column" fxHide fxShow.gt-sm>
              <a class="menu-wrapper__item">Login/Register</a>
              <a class="menu-wrapper__item">My account</a>
              <a class="menu-wrapper__item">Order status</a>
              <a class="menu-wrapper__item">Order history</a>
              <a class="menu-wrapper__item">Track my order</a>
              <a class="menu-wrapper__item">Login/Register</a>
            </div>
          </div>
        </div>
        <div class="footer-column" fxFlex="24" fxFlex.lt-md="100">
          <div class="footer-column__menu">
            <h2>Information</h2>
            <div class="menu-wrapper" fxLayout="column" fxHide fxShow.gt-sm>
              <a class="menu-wrapper__item">FAQ</a>
              <a class="menu-wrapper__item">About as</a>
              <a class="menu-wrapper__item">Contact us</a>
              <a class="menu-wrapper__item">Security & Privacy</a>
              <a class="menu-wrapper__item">Jobs</a>
              <a class="menu-wrapper__item">Cookies</a>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</footer>

<div class="footer-menu">
  <div class="container">

  </div>
</div>


