<div class="subscriber-wrapper">
  <div class="container">
    <div class="subscriber-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
      <div class="subscriber-content__title" fxLayoutAlign="space-start">
        <fa-icon [icon]="faEnvelope"></fa-icon>
        <span>Never miss a deal again.  Subscribe to email for coupons, deals and more!</span>
      </div>
      <div class="subscriber-content__button">
        <button mat-stroked-button color="primary">Sing up now!</button>
      </div>
    </div>
  </div>
</div>
